html, *{
  margin: 0;
  padding: 0;
}


body{
  background-image: url(../img/fon2.jpg);
  background-attachment: fixed;
}


a{
  text-decoration: none;
}

ul{
  list-style: none;
}



.left{
  float: left;
}

.right{
  float: right;
}

.block{
  width: 100%;
  display: table;
  background-color: white;
  margin-bottom: 30px;
  min-height: 300px;
}

.first{
  margin-top: 90px;
}

@media all and (max-width: 719px){
  .first{
    margin-top: 0px;
  }

  .last{
    margin-bottom: 90px;
  }
}
